* {
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
}

h1,
h2,
h3 {
  font-family:"Lobster", cursive;
}

header {
  background-image: linear-gradient(to right, #4219d4, #4c0059);
}

footer {
  background-image: linear-gradient(#aa95f8, #fff);
}

.jumbotro {
  margin: 0;
}

.navbar {
  background-color: #901CAD;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
  border: solid #5637DD;
}

.site-footer {
  background-image: linear-gradient(#b7a8f8, white);
  padding: 20px 0px;
}
/* #header {
padding-left: 3rem;
} */

#carousel {
  margin-top: 3rem;
}

#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0;
}

#txt-title {
  color: #fff;
}

#txt-sub-title {
  color: #bab0fc;
}

#margin-top-bot {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#padding-top-bot {
  padding-top: 3%;
  padding-bottom: 3%;
}