/* @font-face {
  font-family: Lobster;
  font-weight: 400;
  src: local("Lobster"),
    url("https://fonts.googleapis.com/css?family=Lobster&display=swap");
} */

* {
  padding: 0.3%;
}

h1,
h2,
h3 {
  font-family: "Lobster", cursive;
}

header {
  background-image: linear-gradient(to right, #4219d4, #4c0059);
}

footer {
  background-image: linear-gradient(#aa95f8, #fff);
}

#header {
  padding-left: 3rem;
}

#txt-title {
  color: #fff;
}

#txt-sub-title {
  color: #bab0fc;
}

#txt-about-us {
  color: #3644c0;
}

#margin-top-bot {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#padding-top-bot {
  padding-top: 3%;
  padding-bottom: 3%;
}
